## AirBnB Optimal Price Predictor

This notebook downloads the data from remote used in this project and then cleans it. Ready to be used to build a model for predictions.

In [2]:
# Imports
import pandas as pd
import numpy as np
import requests
import glob
import os
import httplib2

In [4]:
df = pd.read_csv('../data/raw/australia_visualisations_listings.csv.csv')

df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,number_of_reviews_ltm,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,29786588,Bestview Cottage,224083235,Carmela,New South Wales,Orange,-33.33346,149.03763,Entire home/apt,190,1,81,21,2021-01-29,3.00,1,167
1,45318800,"Lakeside House- 23 Acres, 10 minutes from Orange!",366315077,Harry & Danielle,New South Wales,Orange,-33.33337,149.04834,Entire home/apt,1000,2,14,14,2021-01-21,3.62,1,29
2,22151808,Bright and Cosy Room in Orange.,78371092,Diana,New South Wales,Orange,-33.28470,149.10878,Private room,68,2,5,0,2018-10-06,0.14,4,274
3,22518202,HG 105A Sale St. STYLISH IN THE HEART OF ORANGE,89994665,"Marianne, Terry & Richard",New South Wales,Orange,-33.27709,149.09787,Entire home/apt,166,1,158,59,2021-01-25,4.48,2,320
4,21871881,"""BLUE & WHITE NILE"" Work, Rest or Play. Walk CBD",78345518,Kristin,New South Wales,Orange,-33.28375,149.11322,Entire home/apt,290,2,86,23,2021-01-26,2.26,1,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153909,47383518,2 bedroom apartment in the heart of Dickson,37476631,Adam,Australian Capital Territory,Unincorporated ACT,-35.25055,149.13621,Entire home/apt,135,2,0,0,NaN,NaN,1,155
153910,25961546,Pialligo Vines - A Country Estate,19759369,Helen & Terry,Australian Capital Territory,Unincorporated ACT,-35.31129,149.18094,Entire home/apt,195,2,72,39,2021-01-25,2.38,1,172
153911,31335541,A spacious room with a spectacular view,234587680,Helen,Australian Capital Territory,Unincorporated ACT,-35.18414,149.11046,Private room,68,1,9,4,2020-12-11,0.39,2,84
153912,29217916,Bourkey's room one,219560800,Terry,Australian Capital Territory,Unincorporated ACT,-35.15848,149.09918,Private room,40,1,97,18,2021-01-25,3.48,3,68
153913,42478322,Private room with a private bathroom and a view,338245907,Rad,Australian Capital Territory,Unincorporated ACT,-35.38050,149.11336,Private room,60,90,0,0,NaN,NaN,1,89

In [6]:
# Drop unncessary columns
df.drop(labels=['id', 'name', 'host_id', 'host_name', 'number_of_reviews_ltm', 'neighbourhood_group', 'reviews_per_month', 'last_review'], axis=1, inplace=True)
df

,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,Orange,-33.33346,149.03763,Entire home/apt,190,1,81,1,167
1,Orange,-33.33337,149.04834,Entire home/apt,1000,2,14,1,29
2,Orange,-33.28470,149.10878,Private room,68,2,5,4,274
3,Orange,-33.27709,149.09787,Entire home/apt,166,1,158,2,320
4,Orange,-33.28375,149.11322,Entire home/apt,290,2,86,1,92
...,...,...,...,...,...,...,...,...,...
153909,Unincorporated ACT,-35.25055,149.13621,Entire home/apt,135,2,0,1,155
153910,Unincorporated ACT,-35.31129,149.18094,Entire home/apt,195,2,72,1,172
153911,Unincorporated ACT,-35.18414,149.11046,Private room,68,1,9,2,84
153912,Unincorporated ACT,-35.15848,149.09918,Private room,40,1,97,3,68
153913,Unincorporated ACT,-35.38050,149.11336,Private room,60,90,0,1,89

In [7]:
# Check out for any null values
df.isnull().sum()
# No null values

neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [8]:
df.describe(include='all')

,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
count,153914,153914.000000,153914.000000,153914,153914.000000,153914.000000,153914.000000,153914.000000,153914.000000
unique,508,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN
top,Sydney,NaN,NaN,Entire home/apt,NaN,NaN,NaN,NaN,NaN
freq,8148,NaN,NaN,114630,NaN,NaN,NaN,NaN,NaN
mean,NaN,-33.257543,146.183371,NaN,255.932709,3.925848,29.800902,15.511221,164.495264
std,NaN,5.074834,9.664016,NaN,509.293129,21.398849,53.670211,51.409165,140.028747
min,NaN,-43.580050,96.831310,NaN,0.000000,1.000000,0.000000,1.000000,0.000000
25%,NaN,-37.572468,144.965470,NaN,99.000000,1.000000,1.000000,1.000000,1.000000
50%,NaN,-33.886870,150.378895,NaN,163.000000,2.000000,8.000000,2.000000,155.000000
75%,NaN,-31.884408,151.287350,NaN,286.000000,3.000000,34.000000,5.000000,313.000000
max,NaN,-10.415250,159.061500,NaN,28613.000000,1125.000000,861.000000,607.000000,365.000000

In [9]:
df.columns

Index(['neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [13]:
# Rearrange columns in X, y format
df[['neighbourhood', 'latitude', 'longitude', 'room_type',
       'minimum_nights', 'number_of_reviews', 'calculated_host_listings_count',
       'availability_365', 'price']]

X = df[:,:-1]
y = df[:,-1]

TypeError: '(slice(None, None, None), slice(None, -1, None))' is an invalid key

In [ ]:
# Train test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.3)